@import "src/app/styles/globalstyles/globalStyles.scss";

.footer {
  padding-top: 85px;
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 323px;
    margin-bottom: 80px;
    .footer-left {
      .footer-contact {
        width: 469px;
        height: 133px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 32px;
        .item-title {
          font-weight: 500;
          font-size: 20px;
          line-height: calc(23 / 20);
          color: $primary-color;
          text-transform: uppercase;
          font-variant: small-caps;
        }
        .item-content {
          font-size: 20px;
          line-height: calc(23 / 20);
          text-transform: capitalize;
          cursor: pointer;
          color: #000000;
        }
        .contact-address {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 13px;
        }
        .contact-phone {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 34px;
        }
        .contact-email {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 41px;
        }
      }
    }
    .footer-right {
      .footer-news {
        margin-bottom: 42px;
        .news-title {
          font-weight: 500;
          font-size: 20px;
          line-height: calc(23 / 20);
          font-variant: small-caps;
          color: $primary-color;
          margin-bottom: 20px;
        }
        .new-content {
          display: flex;
          align-items: center;
          gap: 8px;
          .new-button {
            color: $white-color;
            background: $secondary-color;
            padding: 10px 24px;
          }
        }
      }
      .footer-social {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(23 / 20);
        font-variant: small-caps;
        color: $primary-color;
        text-transform: uppercase;
        .social-title {
          margin-bottom: 20px;
        }
      }
    }
  }
  .footer-content {
    background-color: $primary-color;
    height: 70px;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 25px;
    .container {
      p {
        font-size: 16px;
        line-height: calc(19 / 16);
        color: $white-color;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 21px;
  .social-item {
    cursor: pointer;
  }
}
