@import "src/app/styles/GlobalStyles/GlobalStyles.scss";

.active {
  color: $secondary-color !important;
  font-weight: 600 !important;
}
.navbar {
  .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  &-item {
    a {
      font-weight: 400;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: #14171f;
    }
  }
}
