@import "src/app/styles/globalstyles/globalStyles.scss";

.active-link {
  font-weight: 700 !important;
  color: $primary-color !important;
}

.active-fill {
  background-color: $primary-color !important;
}

.project {
  .container {
    .project-title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42 / 36);
      color: $title-color;
      margin: 88px auto 40px 0;
    }
    .project-content {
      display: flex;
      gap: 254px;
      margin-bottom: 138px;
      .menu {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: fit-content;
        height: fit-content;
        .menu-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 16px;
          .menu-fill {
            width: 4px;
            height: 28px;
            background-color: $white-color;
          }
          .menu-link {
            color: #c2c7d6;
            font-weight: 500;
            font-size: 24px;
            line-height: calc(28 / 24);
          }
        }
      }
    }
    .project-group {
      display: flex;
      align-items: flex-start;
      gap: 32px;
      flex-wrap: wrap;
      .project-item {
        border-radius: 2px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        .item-name {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          color: $white-color;
          margin-left: 12px;
        }
        .item-desc {
          font-size: 18px;
          line-height: calc(21 / 18);
          color: $white-color;
          margin-left: 12px;
          margin-bottom: 16px;
        }
      }
      .project-navigate {
        display: flex;
        align-items: center;
        gap: 33px;
        .navigate-control {
          display: flex;
          align-items: center;
          gap: 16px;
          .control-item {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        .navigate-button {
          color: $white-color;
          background: #292e3d;
          padding: 21px 108px;
          width: 295px;
          font-weight: 400;
          display: flex;
        }
      }
    }
  }
}
.cta {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cta-heading {
      margin-top: 60px;
      max-width: 539px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      .heading-title {
        color: $title-color;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
      }
      .heading-desc {
        color: #292e3d;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
      }
    }
    .cta-content {
      .content-form {
        display: grid;
        grid-template-columns: 280px 280px;
        margin-top: 38px;
        row-gap: 20px;
        column-gap: 32px;
        .content-textarea {
          padding: 10px 8px;
          gap: 10px;
          background: $white-color;
          border: 1px solid #e0e3eb;
          border-radius: 4px;
          width: 592px;
          height: 135px;
          color: #a3aac2;
        }
      }
      .content-tutorial {
        font-size: 16px;
        line-height: calc(19 / 16);
        color: #667299;
        margin-top: 8px;
        strong {
          color: #c40303;
        }
      }
    }
    .cta-final {
      margin-top: 28px;
      margin-bottom: 61px;
      .cta-button {
        width: 271px;
        background: $primary-color;
        color: $white-color;
        padding: 16px auto;
        height: 53px;
      }
    }
  }
}
