@import "src/app/styles/GlobalStyles/GlobalStyles.scss";

.theme-white {
  background-color: $white-color !important;
}

.primary-color {
  color: $primary-color !important;
}

.aboutus {
  .container {
    position: relative;
    .aboutus-image {
      max-width: 902px;
      height: 699px;
      box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
        0px 8px 8px -4px rgba(17, 24, 39, 0.04);
      border-radius: 2px;
      margin-top: 74px;
      margin-bottom: 202px;
    }
    .aboutus-infor {
      height: 523px;
      width: 488px;
      border-radius: 2px;
      background-color: $primary-color;
      box-shadow: 0px 8px 8px -4px #1118270a;
      padding: 50px 60px 60px 40px;
      position: absolute;
      right: 0;
      top: 73px;
      .infor-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        color: $white-color;
        margin-bottom: 37px;
      }
      .infor-desc {
        font-size: 20px;
        line-height: calc(23 / 20);
        color: $white-color;
        margin-bottom: 23px;
      }
      .infor-more {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 74px;
        .aboutus-button {
          width: 200px;
          height: 53px;
          color: #2947a9;
        }
      }
    }
  }
}

.services {
  .container {
    background-color: #f6f8f7;
    .services-title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42 / 36);
      text-align: center;
      color: $neutral-color;
      padding-top: 44px;
    }
    .services-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 48px;
      column-gap: 98px;
      margin-top: 36px;
      margin-bottom: 76px;
    }
  }
}

.card {
  width: 271px;
  height: 181px;
  background-color: #2947a9;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  &-icon {
    width: 40px;
  }
  &-bulkhead {
    width: 60px;
    height: 2px;
    background-color: #e0e3eb;
  }
  &-sevice {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: #e0e3eb;
  }
}
