@import "src/app/styles/globalstyles/globalStyles.scss";

.theme-white {
  background-color: $white-color !important;
}

.primary-color {
  color: $primary-color !important;
}

.services {
  .container {
    background-color: #f6f8f7;
    .services-title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42 / 36);
      text-align: center;
      color: $title-color;
      padding-top: 44px;
    }
    .services-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 48px;
      column-gap: 98px;
      margin-top: 36px;
      margin-bottom: 76px;
    }
  }
}

.card {
  width: 271px;
  height: 181px;
  background-color: $primary-color;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  &-icon {
    width: 40px;
  }
  &-bulkhead {
    width: 60px;
    height: 2px;
    background-color: #e0e3eb;
  }
  &-sevice {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: #e0e3eb;
  }
}
