@import "src/app/styles/globalstyles/globalStyles.scss";

.input {
  padding: 10px 8px;
  gap: 10px;
  background: $white-color;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  width: 280px;
  height: 41px;
  color: #e0e3eb;
}
